.App {
  background-color: #3BA489;
  width: 1800px;
  padding: none;
  margin-left: 50px;
   margin-right: 5px;
   margin-top: 60px;
    /* overflow-x: hidden; */

}
.titul{
  display: flex;
  justify-content: left;
  font-size:25px;
  margin-bottom: 10px;
  margin-top: 30px;

}
.in{
  margin-left: 10px;
}

.input {
  margin-bottom: 15px;
}

.parrafo{
  word-wrap: break-word;
}

.menu{
 
  display: flex;
  justify-content: flex-start ;
  position: absolute;
}

#circulo{
  margin-top: 20%;
  margin-left: 70px;
  position: relative;
  box-sizing: box-shadow;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  box-sizing: border-box;
  border-width: 100px;
  border-style: solid;
  border-color: grey;
}

#texto{
  top: -65px;
  left: 28px;
  margin-left: -65px;
  transform: rotate(0deg);
  font-size: medium;
  color: gainsboro;
}

.letra2{
  margin-left: 14px ;
}


.tamano{
  font-size: 17px;
}

.edu{
  margin-top: 70px;
}

.colorgris{
color: grey;
}

.letra{
  margin-left: 70px;
  margin-top: 5px;
  margin-bottom: 13px;
  
}

.letrapequenaabajo{
  margin-left: 88%;
   font-size:small;
    color: gray;
}

.cabeceraderecha{
  background-color: gainsboro ;
   font-size: medium;
    height: 50px;
     margin-top: 17%;
      size: 27;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       margin-left: 14px;
}

.ul{
  position: relative;
}

.ul.ul{
  top: 45px;
  margin-bottom: -29px;
}






.linea {
  position: absolute;
  height: 60%;
  width: 2px;
  right: 538px;
  background-color: grey;
  top: 27px;
  border-radius: 50px;
}

.bordesborroso{
  box-shadow: 15px 15px 20px  #29806A;
}

.cuboedu{
  margin-top: -21px;
}

.linea2 {
  position: absolute;
  height: 55%;
  width: 2px;
  right: 538px;
  background-color: grey;
  top: 25px;
  border-radius: 50px;

}

.letrapequena2{
  font-size:small;
   line-height: 120%;
}

.letrapequenaderecha{
  margin-left: 87%;
   font-size:small;
    line-height: 120%;
     color: gray;
}

.letrasmal{
  font-size: small;
}

.divicionletra120{
  line-height: 115%;
}

.colorazul{
  color:lightseagreen;
}

.colorgris{
  color: grey;
}

 .spa{
    position: absolute;
    width: 50px;
    left: -14px;
    top: -30px;
    transform: rotate(0deg);
    color: #DEDFD8;
  }

  .bordesborroso{
    box-shadow: 5px 5px 20px 10px #29806A;
  }

  .boxchawycolorverde{
    box-shadow: 26px -10px 20px 10px  #29806A;
  }

  .cabeza{
    width: 4.5rem;
  }

  .borroso{
    filter: blur(6px)
  }

.row{
  display: flex;
  justify-content: center;
  width: 1300px;
  margin-bottom: 70px;
  min-height: 1600px;
}

.botones{
  margin-left: 340px;
  margin-top: 7px;
/*  display: flex;
 justify-content: flex-end; */
}



.inputnombre{
  overflow: hidden;
}
.botones2{
  margin-top: 7px;
  float: right;
  /* margin-left: 60px; */
/*  display: flex;
 justify-content: flex-end; */
}

.openmenufill{
  filter : blur(6px);
}
.openmenusidev{
  width:520px;
}

.closemenufill{
  filter : blur(0px);
}
.closemenusidev{
  width:0px;
}



.eli{
  width: 85px;
}

.contenidoeli{
  width: 70px;
}



.derech{
  margin-right: 70px;
  min-height: 1000%;
}


.col-md-3{
  background-color: white;
  
 
}

.col-md-6{
  background-color:white;
}

/* ------------ */


 

